{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrder": ["^@nestjs/(.*)$", "", "<THIRD_PARTY_MODULES>", "", "^src/(.*)$", "", "^[.]"],
  "importOrderSeparation": true
}